{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
   	<meta name="description" content="">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% endif %}
        {% endblock %}
    </title>
    {% include 'head.html' %}
</head>

<body>
<!-- header -->
{% include 'header.html' %}
<!-- header -->
{#    <img src="{% static "images/sitelogo.png" %}" alt="Logo" />#}
    {% block content %}{% endblock %}
<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
<!-- JS -->
{% include 'scripts.html' %}
<script>
    $(document).ready(function () {
        $('input').addClass('form-control');
        $('#id_slug').hide();
        $('input:file').removeClass('form-control');
        $('textarea').addClass('form-control');
        $('select').addClass('form-control');
        {#$('#id_slug').attr('readonly', true);#}
        $('#id_title').blur(function () {
            $('#id_slug').val(convertToSlug($(this).val()));
        });

    });

function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'')
        ;
}

$("#id_category").change(function () {
      let url = $("#postForm").attr("data-location-url");  // get the url of the `load_cities` view
      let categoryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'category': categoryId,       // add the country id to the GET parameters
            'type': "Select Category",
            'data': "category"
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            console.log(data);
          $("#id_subcategory").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

$("#id_location").change(function () {
      let url = $("#postForm").attr("data-location-url");  // get the url of the `load_cities` view
      let locationId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'location': locationId,       // add the country id to the GET parameters
            'type': "Select City"
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

$("#id_city").change(function () {
      let url = $("#postForm").attr("data-location-url");  // get the url of the `load_cities` view
      let locationId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'location': locationId,       // add the country id to the GET parameters
          'type': "Select Area"
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            console.log(data);
          $("#id_area").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

$("#id_area").change(function () {
      let url = $("#postForm").attr("data-location-url");  // get the url of the `load_cities` view
      let locationId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'location': locationId,       // add the country id to the GET parameters
          'type': "Select Address"       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            console.log(data);
          $("#id_address").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

</script>
</body>
</html>
